<!-- This is how you do a comment in HTML -->
<!DOCTYPE html>
<html lang="en">

<!-- Set Up Information -->
<head>
  <link rel="stylesheet" href="static/bootstrap.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<!-- Main portion of our web page -->
<body>
  <h1>This is a heading</h1>
  <p>This is a paragraph.</p>

  <!-- Link -->
  <a href="/next_page" class="btn">
    Click Here!
   </a>


<!-- Closing out the page -->
</body>
</html>
